.sdlc-container.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p
      From project planning and source code management to CI/CD and monitoring, GitLab is a single application for the complete DevOps lifecycle. Only GitLab enables
      %a{ href: "/concurrent-devops" } Concurrent DevOps
      to make the software lifecycle 200% faster.
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the complete DevOps lifecycle.
    %p.table-label.separate-application-label GitLab replaces

    %table.sdlc-table
      %tr
        - data.stages.stages.each do |key, phase|
          %td.phase-container
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              = partial "/includes/icons/sdlc-icons/#{key}.svg"
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              %p #{phase.display_name}

      %tr.single-application-row
        - data.sdlc.each do |phase|
          %td.solutions-container
            %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }
            - category_keys = data.categories.keys.keep_if { |k| data.categories[k].stage == phase.phase.downcase }
            - category_keys.each do |key|
              %p
                - url = data.categories[key].alt_link ? data.categories[key].alt_link : "/product/#{key.tr('_', '-').downcase}/"
                %a{ href: "#{url}" } #{data.categories[key].name}
            .year-established.text-center
              %p
                Est.
                = phase.established.year
              %a{ href: "#{phase.established.link}", target: "_blank" }
                Roadmap

      %tr.separate-application-row
        - data.sdlc.each do |phase|
          %td.competitors-container{ id: "#{phase.phase.downcase}-competitors-container" }
            - if phase.competitors
              - phase.competitors.each do |competitor|
                %a.competitor-logo-container{ href: "#{competitor.link}", target: "_blank" }
                  %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/comparison/' } See all comparisons

%script{ src: "/javascripts/rotate-competitors.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
