---
layout: feature
title: GitLab JIRA Integration
description: GitLab's JIRA Integration features ensures developers in GitLab and project managers in JIRA remain in tune.
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---

.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 GitLab JIRA Integration
        %h3#ci-subt Ensure developers in GitLab and project managers in JIRA remain in tune
        %a.btn.cta-btn.btn-white{ href: "https://docs.gitlab.com/ee/user/project/integrations/jira.html", target: "_blank" } Documentation
  .sub-wrapper
    .container
      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Better JIRA integration than Atlassian
          %p.overview
            GitLab is an integrated application from planning to monitoring with
            %a{href: "https://docs.gitlab.com/ee/user/project/issues/", target: "_blank"} GitLab issues
            being a powerful tool for idea management, iteration planning, issue
            tracking and software development.
          %p.overview
            However, we recognize that many organizations have been using JIRA
            for many years and have existing data and business processes
            built into it.
            Our goal is to make GitLab work seamlessly with JIRA,
            offer the best integration possible, better than the current Atlassian suite provides.
          %p.overview
            If and when you are ready to migrate to GitLab issues, we provide
            the tools and practices to help you with that.
          %p.overview
            See below for our current integration features and future plans.
      %hr.divider/

      .row
        .hidden-xs.hidden-sm.col-md-4
          .ee-feature-icon
            = icon("checklist-icon")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2  Integrate JIRA with GitLab merge requests
          %p.overview
            If you want to continue using JIRA, we got you covered. Here's a
            short list of what you can do when integrating GitLab with JIRA.
          %ul
            %li One GitLab project integrates with all the JIRA projects in a single JIRA instance.
            %li Detect and link to JIRA issues from GitLab commits and merge requests.
            %li Log GitLab events in the associated JIRA issue.
            %li Automatically close (transition) JIRA issues with GitLab commits and merge requests.

            %li.documentation-link
              %a{href: "https://docs.gitlab.com/ee/user/project/integrations/jira.html", target: "_blank"} Learn more in our JIRA integration docs
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Migrate from JIRA to GitLab issues
          %p.overview
            Have you used GitLab issues before? We offer a lot of great
            functionality that is comparable to JIRA or even better!
          %ul
            %li
              %b Issue Boards
              can be used in place of the Agile feature of JIRA. If you use
              Scrum, GitLab Issue Boards will be a nice fit.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/issue_board.html", target: "_blank"} Learn more about Issue Boards
            %li
              %b Related issues
              are a bi-directional relationship between any two
              issues and appear in a block below the issue description. Issues
              can be across groups and projects.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/issues/related_issues.html", target: "_blank"} Learn more about Related Issues
            %li
              %b Milestones
              allow you to organize issues and merge requests into a cohesive
              group, optionally setting a start and a due date. They are a
              valuable tool to track the development of the process of achieving
              a goal.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/milestones/", target: "_blank"} Learn more about Milestones
            %li
              %b Burndown Charts
              can be used to see the current state for the completion a given
              milestone in a clear and beautiful chart.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/milestones/burndown_charts.html", target: "_blank"} Learn more about Burndown Charts
            %li
              %b Due dates
              can be used in issues to keep track of deadlines and
              make sure features are shipped on time.
              %p
                %a{href: "https://docs.gitlab.com/ee/user/project/milestones/burndown_charts.html", target: "_blank"} Learn more about Due dates
            %li
              %b Adding a weight to each issue
              you can get a better idea of how much time, value or complexity a
              given issue has or will cost. This is particularly useful when
              you have a lot of issues, where it can be hard to get an overview.
              %p
                %a{href: "https://docs.gitlab.com/ee/workflow/issue_weight.html", target: "_blank"} Learn more about Issue Weights
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
      %hr.divider/

      .row
        .hidden-xs.hidden-sm.col-md-4
          %img.gitlab-raccoon-dog-image.hidden-xs{alt: "", src: "/images/logo.png"}/
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Upcoming features
          %p.overview
            We're constantly working on improving GitLab's integration with JIRA.
            Here's a list of features we're considering implementing.
          %h3 GitLab Community Edition
          %ul
            %li
              %b Navigate to JIRA issues from within GitLab:
              quickly access the main issues page of your JIRA instance.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/issues/37050", target: "_blank"} Subscribe to issue
          %h3 GitLab Enterprise Edition Premium
          %ul
            %li
              %b Import JIRA project issues into GitLab project issues:
              switch from JIRA to GitLab as your ticketing system.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/2780", target: "_blank"} Subscribe to issue
            %li
              %b Automatic and multiple type JIRA issue transitions:
              Transition the state of a JIRA ticket multiple times depending on the status/workflow in GitLab.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/1163", target: "_blank"} Subscribe to issue
            %li
              %b GitLab group level integration:
              for instances that make use of groups, support JIRA at the group level as well.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/2519", target: "_blank"} Subscribe to issue
            %li
              %b GitLab instance level integration:
              define credentials for JIRA integration on a system level, so that
              unnecessary round-trips to Ops from developers could be avoided.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/2561", target: "_blank"} Subscribe to issue
            %li
              %b JIRA transitions for non-default GitLab branches:
              Extend the functionality of the issue closing pattern on branches
              other than the default.
              %i
                %a{href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/2436", target: "_blank"} Subscribe to issue
      %hr.divider.blank/
