.wrapper.landing-container
  .page-illustrated-header-container
    = partial "includes/icons/org-logos-header-pattern.svg"
    .container
      .row
        .col-md-7
          %h1.page-headline
            Axway realizes a <strong>26x faster</strong> DevOps cycle by switching from Subversion to GitLab
          - if !form_landing
            .btn-group
              %a.btn.cta-btn.orange.margin-top20{ href: "/customers/axway/" }
                Read the Case Study
          - else
            .input-with-addon
              %input.form-control.input-with-addon-field{ placeholder: "Your email", name: "customer-email" }
              %button.btn.cta-btn.cta-btn-addon.red.radius-right-side
                Try GitLab
