---
layout: default
title: Reseller Sales Enablement - Understanding GitLab's Tiers and Maturity Levels
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gitlab Reseller Sales Enablement Session 
        %h2.page-subtitle Understanding GitLab Product Tiers and Maturity Levels

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 OnDemand
            %p We are pleased to announce our next reseller sales enablement session where our product marketing team will cover our product tiers and maturity levels.

          .content-section
            %h3 In this webcast, we cover:
            %ul
              %li Gitlab's Product Tiers and Maturity Levels
              %li Concurrent DevOps
              
              
        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1644
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1644, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
