---
title: Features
description: "Learn about the various features of GitLab, including issue tracking, time tracking, reporting, file locking, and more."
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
extra_js:
  - features.js
  - bootstrap-tooltip.js
---
.blank-header
  .flex-container.flex-column.justify-center.align-center
    %h1
      Reduce time to value with an integrated product
    %p
      for the complete DevOps lifecycle
    %a.btn.cta-btn.red.video-button
      ▶ Watch the demo

    -# NOTE: Make sure to use the /embed/ link to the video so that YouTube allows it to be embeded in about.gitlab.com
    %object.video-container{data:"https://www.youtube.com/embed/rj0QrccYqGw", frameborder:"0", allowfullscreen:true}


.page-container.table-of-contents.text-center{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    %h3
      Stages of the DevOps lifecycle
    %ul
      - data.stages.stages.take(9).each do |key, solution|
        = link_to solution.display_name, "##{key}"
        &nbsp;&nbsp;

- data.stages.stages.each do |key, solution|
  .page-container.feature-gallery.text-center.animated{ id: key }
    .container.titles
      %h1
        = solution.display_name
      %h4
        = solution.description
      .features-description.features-description-separation
        - data.features.features.each do |feature|
          - if (feature.screenshot_url != nil && feature.solution == "#{key}")
            = partial "includes/features/feature-item-with-image", locals: { feature: feature }
        - data.features.features.each do |feature|
          - if (feature.screenshot_url == nil && feature.solution == "#{key}")
            = partial "includes/features/feature-item", locals: { feature: feature }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
