---
title: Solutions
suppress_header: true
extra_css:
  - features-v2.css
  - solutions-v2.css
extra_js:
  - features.js
---
.hero-container.flex-container.justify-center.align-center
  .text-center
    %h1.hero-title
      Solutions
    %p.hero-message
      GitLab helps you overcome the real world challenges you are facing with your entire software development lifecycle
.solutions-page-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Auto DevOps"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab logo" }
        Improve both speed and consistency of software delivery
      %p
        = "Software development and deployment can be tedious and involves many tasks that are part of set-up and coordination. Auto DevOps simplifies and accelerates delivery with a complete delivery pipeline out of the box. Your developers can focus on coding and not on administration."
      %a.btn.cta-btn.red{href: "/auto-devops/"}
        Learn how GitLab automates your software factory

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Concurrent DevOps"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab logo" }
        Enable faster cycle times
      %p
        = "Concurrent DevOps is a new way of thinking about how we create and ship software. Rather than organizing work in a sequence of steps and handoffs, the power of working concurrently is in unleashing collaboration across the organization." 
      %a.btn.cta-btn.red{href: "/concurrent-devops/"}
        Learn how GitLab automates your software factory

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Value Stream Management"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab logo" }
        Maximize the value of your software factory
      %p
        = "Enterprises need to manage, visualize and measure the business value created across multiple software delivery pipelines. Value Stream Management (VSM) aggregates data from multiple software delivery pipelines to provide visibility that an application release will deliver the value expected of it."
      %a.btn.cta-btn.red{href: "/vsm/"}
        Learn how GitLab helps value stream management

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "DevSecOps"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab logo" }
        Improve Quality and Security with DevSecOps
      %p
        = "'We’ll fix it in production' is the typical answer to late found defects or security issues on far too many software projects.  Because testing and security are separate silos, often after multiple rounds of development work, it means that each defect or vulnerability can cause extensive rework.   If only the issue was found when it was created.   GitLab enables better quality and improved security by embedding testing, QA and security scans into every pipeline, giving developers the right feedback at the right time.  "
      %a.btn.cta-btn.red{href: "/solutions/dev-sec-ops/"}
        Learn how GitLab enables DevSecOps

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Accelerating Delivery"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab logo" }
        IT Delivery at the Speed of Business
      %p
        = "Every business is a really software business and accelerating software delivery is critical to business success.   DevOps is the answer, however often, DevOps leads to fragmented and disconnected tool chains, which increases friction, increases cost and ultimately makes it much  harder to collaborate.   GitLab’s comprehensive, single application end to end DevOps approach enables teams to accelerate delivery without compromise."
      %a.btn.cta-btn.red{href: "/solutions/faster-software-delivery/"}
        Learn how GitLab helps accelerate delivery

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Cloud Transformation"
      %h4
        %img.solution-logo{ src: "/images/icons/website.png", alt: "Cloud Native" }
        Cloud Native for business
      %p
        = "Many organizations are migrating to a cloud native approach to application architecture.  GitLab can help you with your evolution to building and shipping cloud native apps."
      %a.btn.cta-btn.red{href: "/solutions/cloud-native/"}
        Learn about Cloud Native

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Software-defined Infrastructure"
      %h4
        %img.solution-logo{ src: "/images/icons/auto-devops.svg", alt: "no ticket provisioning" }
        Streamlined no-ticket provisioning
      %p
        = "Too often, projects are delayed waiting for infrastructure and environments to be provisioned.  GitLab can help you move to a streamlined process and simplify the value stream to deliver business solutions with no ticket provisioning."
      %a.btn.cta-btn.red{href: "/solutions/no-ticket-provisioning/"}
        Learn about No Ticket Provisioning

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Improve regulatory compliance"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "gitlab logo" }
        Compliance and Governance at DevOps Velocity
      %p
        = "Worried about your next SDLC audit?  Are your teams following the right controls and documenting every change?   In many cases compliance is an expensive and error prone activity, where the stakes are incredibly high.   GitLab’s workflows, audit trails and clear approval process makes it natural and easy to deliver at the speed of DevOps with compliance built in. "
      %a.btn.cta-btn.red{href: "/solutions/compliance"}
        Learn how GitLab improves compliance

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Executive Visibility"
      %h4
        %img.solution-logo{ src: "/images/organizations/logo_ticketmaster_no_padding.svg", alt: "ticketmaster logo" }
        Enhancing IT Delivery Visibility
      %p
        = "IT projects typically run long, run over budget and under deliver, leading to surprise “status updates” for executive leaders and sponsors.  A key culprit causing the lack of visibility are the silos and disconnected systems that keep teams from clearly collaborating and sharing.  GitLab solves the fragmented tool chain challenge, giving teams a common home to collaborate and leaders the ability to have actionable insight."
      %a.btn.cta-btn.red{href: "/2017/06/07/continous-integration-ticketmaster/"}
        Learn how Ticketmaster improved visibility

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Supporting Geographically distributed teams"
      %h4
        %img.solution-logo{ src: "/images/icons/geo-icon.svg", alt: "gitlab geo icon" }
        Maximize Remote Developer Productivity
      %p
        = "Often development teams work in remote offices around the globe, creating unique collaboration challenges and overhead in keeping them and their work in sync with each other.   GitLab simplifies the challenges of leading and managing remote teams, making it easier for them to stay current and working on the latest version of their code."
      %a.btn.cta-btn.red{href: "/features/gitlab-geo/"}
        Gain 20x speed with GitLab Geo

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "High Availability"
      %h4
        %img.solution-logo{ src: "/images/icons/geo-icon.svg", alt: "gitlab geo icon" }
        Ensure uptime for development
      %p
        = "Downtime costs you money. High availability (HA) is a design framework that ensures a prearranged level of operational performance throughout a specific time-period (aka uptime)."
      %a.btn.cta-btn.red{href: "/high-availability/"}
        Learn how GitLab provides maximum uptime

  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        = "Team / Development Platform"
      %h4
        %img.solution-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "Developer Platform" }
        Create a productive and efficient workspace for delivery teams.
      %p
        = "GitLab is a single application supporting the entire development lifecyle.  As such, GitLab helps teams connect, collaborate and accelerate delivery, helping to meet your business goals and improve team satisfaction. "
      %a.btn.cta-btn.red{href: "/solutions/developer-platform/"}
        Learn how GitLab can help your teams be more productive
