---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
suppress_header: true
extra_css:
  - gitlab-com.css
  - pricing.css
extra_js:
  - faq.js
  - tabs.js
---

-# HARK;GENERATED CONTENT BELOW!
-# The below block is generated by data from /data/pricing.yml file.
-# This is where you will want to look to edit the content of the page.

.tab-container
  %ul.pricing-tabs{ role: "tablist"}
    %li.active{ role: "presentation" }
      %a{ href: '#self-managed', "data-toggle" => "tab", "aria-controls" => "self-managed", role: "tab" }
        = partial "includes/icons/self-managed-icon.svg"
        Self-Managed
    %li{ role: "presentation" }
      %a{ href: '#gitlab-com', "data-toggle" => "tab", "aria-controls" => "gitlab-com", role: "tab" }
        = partial "includes/icons/gitlab-com-icon.svg"
        GitLab.com

  .tab-content
    .tab-pane.active{ role: "tabpanel", id: "self-managed"}
      .pricing-options.pricing-options--self-managed.text-center
        .container
          .row
            .col-md-10.col-md-offset-1.pricing-intro
              %h1= data.pricing.self_managed.intro
              %a.btn.cta-btn.purple{ href: '/free-trial/' } Free Trial

          .row.flex-row.plan-row
            - data.pricing.self_managed.prices.core_plan do |plan|
              .col-md-3
                .plan.plan--core
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                  .plan-actions
                    = link_to "Install", "/installation/", class: "btn btn-pricing btn-self-managed"
                  = link_to "View More ", "#community-edition", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#community-edition.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == true && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/self-managed/feature-comparison/", class: "all-features"

            - data.pricing.self_managed.prices.starter_plan do |plan|
              .col-md-3
                .plan.plan--starter
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                      %br
                      .cost-extra-small (billed annually)
                  .plan-actions
                    = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0ff6145d07001614efff26d15da", class: "btn btn-pricing btn-self-managed"
                  = link_to "View More ", "#enterprise-edition-starter", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#enterprise-edition-starter.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == true && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/self-managed/feature-comparison/", class: "all-features"

            - data.pricing.self_managed.prices.premium_plan do |plan|
              .col-md-3
                .plan.plan--premium
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                      %br
                      .cost-extra-small (billed annually)
                  .plan-actions
                    = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0ff6145d07001614f0ca2796525", class: "btn btn-pricing btn-self-managed"
                    -# %br
                    -# = link_to "Free Trial", "/free-trial/", class: "btn btn-pricing btn-self-managed"
                  = link_to "View More ", "#enterprise-edition-premium", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#enterprise-edition-premium.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == false && feature.gitlab_premium == true && feature.pricing_page == true)
                        %li.item-description
                          .triangle
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/self-managed/feature-comparison/", class: "all-features"

            - data.pricing.self_managed.prices.ultimate_plan do |plan|
              .col-md-3
                .plan.plan--ultimate
                  %h3.plan-name
                    = link_to plan.title, "/pricing/ultimate/"
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                      %br
                      .cost-extra-small (billed annually)
                  .plan-actions
                    = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe6145beb901614f137a0f1685", class: "btn btn-pricing btn-self-managed"
                  = link_to "View More ", "#enterprise-edition-ultimate", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#enterprise-edition-ultimate.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == false && feature.gitlab_premium == false && feature.gitlab_ultimate == true && feature.pricing_page == true)
                        %li.item-description
                          .triangle
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/self-managed/feature-comparison/", class: "all-features"

      .contact-block.text-center
        %h2 Still have questions? Get in touch.
        = link_to "Contact Sales", "/sales/", class: "btn cta-btn purple"

      = partial "includes/home/customer-logos"

      .content-container.animated.faq
        .container
          %h2.faq-title.text-center
            Frequently asked questions for self-managed
          .faq-holder.clearfix
            - size = (data.pricing.self_managed.questions.size / Float(2)).ceil
            - data.pricing.self_managed.questions.each_slice(size).to_a.each do |group|
              = partial "includes/layout/question_group", locals: { group: group }


    .tab-pane{ role: "tabpanel", id: "gitlab-com"}
      .pricing-options.pricing-options--saas.text-center
        .container
          .row
            .col-md-10.col-md-offset-1.pricing-intro
              %h1= data.pricing.gitlab_com.intro

              %a.btn.cta-btn.purple{ href: 'https://gitlab.com/users/sign_in#register-pane' } Sign Up

          .row.flex-row.plan-row
            - data.pricing.gitlab_com.prices.free_plan do |plan|
              .col-md-3
                .plan.plan--free
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                  .plan-actions
                    = link_to plan.link_text, plan.link, class: "btn btn-pricing btn-saas"
                  = link_to "View More ", "#free-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#free-plan.plan-item-list.list-unstyled
                    %li.item-description
                      = plan.description
                    %li.item-description
                      = plan.support
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.pricing.gitlab_com.prices.bronze_plan do |plan|
              .col-md-3
                .plan.plan--bronze
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                      %br
                      .cost-extra-small (billed annually)
                  .plan-actions
                    = link_to plan.link_text, plan.link, class: "btn btn-pricing btn-saas"
                  = link_to "View More ", "#bronze-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#bronze-plan.plan-item-list.list-unstyled
                    %li.item-description
                      %strong
                        All features from Free and:
                    %li.item-description
                      = plan.description
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.pricing.gitlab_com.prices.silver_plan do |plan|
              .col-md-3
                .plan.plan--silver
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                      %br
                      .cost-extra-small (billed annually)
                  .plan-actions
                    = link_to plan.link_text, plan.link, class: "btn btn-pricing btn-saas"
                  = link_to "View More ", "#silver-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#silver-plan.plan-item-list.list-unstyled
                    %li.item-description
                      %strong
                        All features from Bronze and:
                    %li.item-description
                      = plan.description
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_starter == false && feature.gitlab_premium == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.pricing.gitlab_com.prices.gold_plan do |plan|
              .col-md-3
                .plan.plan--gold
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      per user
                      %br
                      per month
                      %br
                      .cost-extra-small (billed annually)
                  .plan-actions
                    = link_to plan.link_text, plan.link, class: "btn btn-pricing btn-saas"
                  = link_to "View More ", "#gold-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#gold-plan.plan-item-list.list-unstyled
                    %li.item-description
                      %strong
                        All features from Silver and:
                    %li.item-description
                      = plan.description
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_starter == false && feature.gitlab_premium == false && feature.gitlab_ultimate == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "See all features", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

      .contact-block.text-center
        %h2 Still have questions? Get in touch.
        = link_to "Contact Sales", "/sales/", class: "btn cta-btn purple"

      = partial "includes/home/customer-logos-transparent"

      .content-container.animated.faq
        .container
          %h2.faq-title.text-center
            %a{ :name => "faq" }
            Frequently asked questions for GitLab.com
          .faq-holder.clearfix
            - size = (data.pricing.gitlab_com.questions.size / Float(2)).ceil
            - data.pricing.gitlab_com.questions.each_slice(size).to_a.each_with_index do |group, i|
              - if (i == 1)
                = partial "includes/layout/question_group_with_yield", locals: { group: group } do
                  %li.faq-item
                    .faq-inner-item
                      %a.faq-question.js-faq-question{ href: "#" }
                        What features do not apply to GitLab.com?
                        %i.fa.fa-angle-down.pull-right
                      .faq-answer
                        The following features do not apply to GitLab.com:
                        %ul
                          - data.features.features.each do |feature|
                            - if (feature.gitlab_com == false && feature.solution != "missing")
                              %li
                                = feature.title
                                - if (feature.description != "" && feature.description != nil)
                                  %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}
              - else
                = partial "includes/layout/question_group", locals: { group: group }
